# Added by cargo
/target

# Ingore Mac OS X system files
.DS_Store
._*

# Ignore testing raws if present
test-data/

# Ignore any test *json exports
*.json
!parsed-raws.json
!.vscode/*.json
!.zed/*.json

# Ignore any database files
*.db
*.db-*
