# Added by cargo
/target

# Ingore Mac OS X system files
.DS_Store
._*

# Ignore vanilla raws if present
vanilla-raws/

# Ignore any test *json exports
*.json
!parsed-raws.json
!.vscode/*.json
!.zed/*.json
